/* Reset default browser styles */
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

/* Style for the "Get Started" button */
.getStartedBtn {
  border: none;
  /* Gradient border shades of white */
  border-image-slice: 1;
  display: inline-block;
  padding: 12px 39px;
  margin: 20px;
  background: linear-gradient(to right, #4b0082, #000080);
  /* Gradient from dark purple to dark blue */
  color: #ffffff;
  /* White text */
  text-decoration: none;
  border-radius: 20px;
  transition: background-color 0.3s;
  font-size: 18px;
  cursor: pointer;
}


.submitBtn {
  border: none;
  display: inline-block;
  padding: 5px 15px;
  margin: 10px;
  background-color: #6def6d;
  color: #28456a;
  text-decoration: none;
  border-radius: 20px;
  transition: background-color 0.3s;
  font-size: 20px;
  cursor: pointer;
}

#joinWaitlist {

  display: inline-block;
  padding: 10px 20px;
  margin: 20px;
  color: #fff;
  text-decoration: none;
  border-radius: 25px;
  transition: background-color 0.3s;
  font-size: 20px;
}

/* Style for the text field */
#passcodeInput {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}

#passcodeSubmit {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#passcodeSubmit:hover {
  background-color: #0056b3;
}

#incorrectPasscode {
  color: #ff0000;
  margin-top: 10px;
}

body {
  margin: 0 auto;
  font-family: 'League Spartan', sans-serif;
  src: url('/fonts/leaguespartan-bold.woff2') format('woff2'),
    url('/fonts/leaguespartan-bold.woff') format('woff'),
    url('/fonts/leaguespartan-bold.ttf') format('truetype');
  background-color: #111;
  color: #eee;
  line-height: 1.6;
  position: relative;
  /* Set body to relative positioning */
  overflow-x: hidden;
  background-color: rgb(18, 9, 20);
  color: #EBEAEA;
  /* Hide horizontal overflow */
}



/* Your existing styles */

.features {
  position: absolute;
  top: 700.px;
  /* Adjust the position from top */
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  /* Set width for the features section */
  max-width: 800px;
  /* Set a maximum width for responsiveness */
}

.feature {
  text-align: center;
  margin-bottom: 40px;
  /* Increase margin-bottom for spacing between sections */
  background-color: rgba(255, 255, 255, 0.143);
  /* Set a translucent background color */
  padding: 20px;
  /* Add padding for margin */
  border-radius: 10px;
  /* Add some border radius for style */
}

.feature-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 15px;
  border: 5px solid #fff;
}

/* Your other styles */

header {
  background-color: #222;
  padding: 20px;
  text-align: center;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a .btn {
  text-decoration: none;
  color: #eee;
}

main {
  display: inline-block;
  line-height: 1.1;
  height: 2000px;
  /* background-image: url('assets/talent-gradient.png'); */
  background-position: center, center;
  background-size: contain;
  color: #fff;
  background-attachment: fixed;
  background-repeat: no-repeat;

}

/* ... previous CSS styles ... */

/* ... previous CSS styles ... */

/* ... previous CSS styles ... */

/* ... previous CSS styles ... */
/* ... previous CSS styles ... */

/* ... previous CSS styles ... */

/* ... previous CSS styles ... */

/* ... previous CSS styles ... */

.hero {

  height: 650px;
  background-size: 400px;
  text-align: center;
  padding: 30px 0;
  /* Keep the padding for the hero section */
  /* background-image: url('talent-gradient.png');
    background-position: center, center;
    background-size: contain; */
  color: #fff;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: 'League Spartan', sans-serif;
}



/* ... rest of your CSS ... */


/* ... rest of your CSS ... */


/* ... rest of your CSS ... */


/* ... rest of your CSS ... */


/* ... rest of your CSS ... */

/* ... rest of your CSS ... */


/* ... rest of your CSS ... */


/* ... rest of your CSS ... */

/* ... rest of your CSS ... */


.hero h2 {
  font-size: 50pt;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 1068px) {
  .hero h2 {
    font-size: 20pt;
  }
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

/* Your existing styles */

.features {
  position: absolute;
  top: 1100px;
  /* Adjust the position from top */
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  /* Set width for the features section */
  max-width: 800px;
  /* Set a maximum width for responsiveness */
}

.feature {
  text-align: center;
  margin-bottom: 40px;
  /* Increase margin-bottom for spacing between sections */
  background-color: rgba(0, 0, 0, 0.5);
  /* Set a translucent background color */
  padding: 20px;
  /* Add padding for margin */
  border-radius: 10px;
  /* Add some border radius for style */
}

.feature-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 15px;
  border: 5px solid #fff;
}

/* Your other styles */


footer {
  text-align: center;
  padding: 20px 0;
  background-color: #222;
  color: #eee;
}