Reset default browser styles h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'League Spartan';
  src: url('/fonts/leaguespartan-bold.woff2') format('woff2'),
    url('/fonts/leaguespartan-bold.woff') format('woff'),
    url('/fonts/leaguespartan-bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


/* Style for the "Get Started" button */
#getStartedBtn {

  display: inline-block;
  padding: 10px 20px;
  margin: 20px;
  background-color: #fff;
  color: #14abd0;
  text-decoration: none;
  border-radius: 25px;
  transition: background-color 0.3s;
}


#joinWaitlist {

  display: inline-block;
  padding: 10px 20px;
  margin: 20px;
  color: #fff;
  text-decoration: none;
  border-radius: 25px;
  transition: background-color 0.3s;
  font-size: 20px;
}

/* Style for the text field */
#passcodeInput {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}

a {
  cursor: pointer;
}

#passcodeSubmit {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#passcodeSubmit:hover {
  background-color: #0056b3;
}

#incorrectPasscode {
  color: #ff0000;
  margin-top: 10px;
}

.beta-form-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Semi-transparent black */
  z-index: 999;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.beta-form {
  background-color: #fff;
  padding: 40px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  max-width: 300px;
  /* Adjust the maximum width as needed */
  margin: 0 auto;
  /* Center the form horizontally */
  position: relative;
  /* Position the form */
  top: 50%;
  /* Move the form down by 50% of the container's height */
  transform: translateY(-50%);
  /* Adjust the position to center vertically */
}

.exit-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #333;
}

/* Style for the exit button */
.exit-button {
  align-self: center;
  position: relative;
  top: -20px;
  right: -125px;
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #333;
}

body {
  font-family: Arial, sans-serif;
  background-color: #111;
  color: #eee;
  line-height: 1.6;
  position: relative;
  /* Set body to relative positioning */
  overflow-x: hidden;
  /* Hide horizontal overflow */
}

/* Your existing styles */

/* Your other styles */

header {
  background-color: #222;
  padding: 10px;
  text-align: center;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a .btn {
  text-decoration: none;
  color: #eee;
}

main {
  height: 100px;
  background-image: url('assets/talent-gradient.png');
  background-position: center, center;
  background-size: contain;
  color: #fff;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

/* ... previous CSS styles ... */

/* ... previous CSS styles ... */

/* ... previous CSS styles ... */

/* ... previous CSS styles ... */
/* ... previous CSS styles ... */

/* ... previous CSS styles ... */

/* ... previous CSS styles ... */

/* ... previous CSS styles ... */

.hero {
  width: 100vw;
  height: 100px;
  background-size: 100px;
  text-align: center;
  padding: 30;
  /* Keep the padding for the hero section */
  /* background-image: url('talent-gradient.png');
    background-position: center, center;
    background-size: contain; */
  color: #fff;
  background-attachment: fixed;
  background-repeat: no-repeat;
  /* Prevent background image from repeating */
}

.images {
  width: 100vw;
  height: 100px;
  background-size: 400px;
  text-align: center;
  padding: 20;
  color: #fff;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-size: 16px;
  font-family: 'League Spartan', sans-serif;
  /* Prevent background image from repeating */
}





/* ... rest of your CSS ... */


/* ... rest of your CSS ... */


/* ... rest of your CSS ... */


/* ... rest of your CSS ... */


/* ... rest of your CSS ... */

/* ... rest of your CSS ... */


/* ... rest of your CSS ... */


/* ... rest of your CSS ... */

/* ... rest of your CSS ... */


.hero h2 {
  font-size: 3em;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}


footer {
  text-align: center;
  padding: 20px 0;
  background-color: #222;
  color: #eee;
}